.color-selector {
    display: flex;
    justify-content: center;
    color:black;
    font-weight:bold;
  }
  
  .color-option {
    width: 128px;
    height: 64px;
    margin:16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color-option.selected {
    border: 8px solid black;
  }